{% extends 'base.html' %}

{% block title %}
  Annotate - My Flask App
{% endblock %}

{% block content %}
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        Text Processing
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/annotate_test">
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="text-input" name="text" rows="10"></textarea>
                                <label for="text-input">Enter your text here</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Process</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if result %}
    <h2>Result:</h2>
    <p>{{ result }}</p>
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}

{% set active = 'annotate' %}